<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">Hotspot Trackers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/urban">COVID-19 Clusters Urban</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rural">COVID-19 Clusters Rural</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/weatherImpact">Weather Events/Natural disasters causing COVID-19 spread</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/predictor">Predict Hotspot chances</a>
      </li>

    </ul>
  </div>
</nav>
